.Page3 {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-grey);
  margin: 0;
  width: 100vw;
}

@media (max-width: 375px) {
  .Page3 {
    display: flex;
    width: 375px;
    height: 100vh;
    margin: 0;
    padding: 10px;
  }
}

.ProjectImg {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border: solid black 7px;
}

@media (max-width: 375px) {
  .ProjectImg {
    width: 250px;
    height: 150px;
    object-fit: cover;
  }
}

.ProjectImg:hover {
  opacity: 0.7;
}

h2 {
  margin-bottom: 15px;
  font-size: 40px;
}

@media (max-width: 375px) {
  h2 {
    font-size: 25px;
    margin-top: 10px;
  }
}

.FlexContainer {
  display: flex;
  width: 90%;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 5%;
}

@media (max-width: 375px) {
  .FlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.FooterPage3 {
  margin-top: 46%;
  display: flex;
  width: 100%;
}
