.Page2 {
  display: flex;
  height: 100vh;
  background-color: var(--bg-grey);
  margin: 0;
  border-bottom: solid black;
  width: 100%;
}

.FlexContainer {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: absolute;
}

.AboutMe {
  color: white;
  line-height: 30px;
  letter-spacing: 3px;
  font-size: 17px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  width: 50%;
  height: 70%;
  padding: 20px;
}

.FirstSentence {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.CodeTag {
  font-size: 20px;
  color: #b99090;
}

.Skills {
  display: flex;
  flex-direction: column;
}

.SkillBtn {
  border: solid white;
  justify-content: space-around;
  padding: 15px 25px;
  display: flex;
  margin-top: 15px;
}

/* .KontaktInfo {
  grid-area: 2 / 2 / 3 / 3;
  color: rgb(0, 0, 0);
  line-height: 30px;
  letter-spacing: 3px;
  font-size: 15px;
  border: var(--black-card-border);
  padding: 20px;
  background-color: var(--card-info-bg-color);
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
  padding: 20px;
  height: 50%;
} */

/* .KontaktListe {
  list-style: none;
} */

.LogoContainer {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.ScrollGrid {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  margin-right: 15px;
  width: 100%;
}
