.Page2 {
  display: flex;
  height: 100vh;
  background-color: var(--bg-grey);
  margin: 0;
  border-bottom: solid black;
  width: 100%;
}

@media (max-width: 375px) {
  .Page2 {
    width: 375px;
    height: 106vh;
  }
}

.FlexContainer2 {
  display: flex;
  width: 90vw;
  height: 80vh;
  position: absolute;
  color: white;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
}

@media (max-width: 375px) {
  .FlexContainer2 {
    display: flex;
    width: 360px;
    padding: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: center;
  }
}

.OmMeg {
  color: rgb(0, 0, 0);
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 20px;
  border: var(--black-card-border);
  background-color: var(--card-info-bg-color);
  text-align: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 50%;
}

@media (max-width: 375px) {
  .OmMeg {
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    font-size: 14px;
    width: 320px;
    padding: 5px;
  }
}

.OmMegDel2 {
  display: flex;
  color: rgb(0, 0, 0);
  width: 61%;
  line-height: 30px;
  letter-spacing: 3px;
  font-size: 18px;
  border: var(--black-card-border);
  padding: 20px;
  background-color: var(--card-info-bg-color);
  text-align: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 40%;
}

@media (max-width: 375px) {
  .OmMegDel2 {
    line-height: 20px;
    font-size: 14px;
    width: 320px;
    padding: 5px;
  }
}

.KontaktInfo {
  display: flex;
  color: rgb(0, 0, 0);
  line-height: 30px;
  letter-spacing: 3px;
  font-size: 18px;
  border: var(--black-card-border);
  padding: 20px;
  background-color: var(--card-info-bg-color);
  text-align: center;
  align-items: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 40%;
}

@media (max-width: 375px) {
  .KontaktInfo {
    line-height: 17px;
    font-size: 14px;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
  }
}

.KontaktListe {
  list-style: none;
}

@media (max-width: 375px) {
  .KontaktTekst {
    line-height: 20px;
    font-size: 15px;
    width: 360px;
  }
}
