.Page1 {
  background-color: var(--bg-grey);
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  width: 100%;
  border-bottom: solid black;
}

.NavBar {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  padding: 0;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 90%;
  font-family: "Poiret One", cursive;
  letter-spacing: 2px;
  margin-top: 2%;
  background-color: #cfb2b2;
  opacity: 0.5;
  border-radius: 4px;
  padding: 3px;
}

.NavList:hover {
  color: var(--hover-color);
  text-decoration: line-through white;
}

.img2-box {
  justify-content: flex-start;
  margin: 0;
  width: 36.3%;
}

.img-box {
  width: 22%;
  margin: 0;
}

.Flower-img {
  margin-top: 2%;
  height: 93vh;
  width: 110%;
  object-fit: cover;
  position: relative;
}

.FlowerImgBox {
  height: 100%;
  margin: 0;
}

.me-img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  opacity: 0.7;
  margin: 0;
}

.NameBox {
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  opacity: 0.8;
  border-radius: 8px;
  margin: 0;
}

.name {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  width: 400px;
  letter-spacing: 3px;
  margin-top: 19%;
  font-family: "Sofia", cursive;
}

.FrontPageTxt {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 29%;
  font-family: "Poiret One", cursive;
}

h1 {
  color: #cfb2b2;
  font-size: 70px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}

h1:hover span {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(55, 55, 55), 0 0 20px rgb(55, 55, 55),
    0 0 40px rgb(55, 55, 55);
}
