.Page1 {
  background-color: var(--bg-grey);
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  width: 100%;
  border-bottom: solid black;
}

@media (max-width: 375px) {
  .Page1 {
    border-bottom: none;
    width: 375px;
    display: flex;
  }
}

.NavBar {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  padding: 0;
  color: var(--nav-color);
  cursor: pointer;
  width: 75%;
  font-family: "Poiret One", cursive;
  letter-spacing: 2px;
  margin-top: 2%;
}

@media (max-width: 375px) {
  .NavBar {
    width: 350px;
    margin: 5 auto;
  }
}

.NavList:hover {
  color: var(--hover-color);
  text-decoration: line-through white;
}

.img2-box {
  justify-content: flex-start;
  margin: 0;
  width: 36.3%;
}

@media (max-width: 375px) {
  .img2-box {
    height: 0;
  }
}

.img-box {
  width: 22%;
  margin: 0;
}

@media (max-width: 375px) {
  .img-box {
    display: flex;
    width: 390px;
    margin-top: 115%;
    position: absolute;
    justify-content: center;
  }
}

.Flower-img {
  margin-top: 2%;
  height: 93vh;
  width: 130%;
  object-fit: cover;
  position: relative;
}

.FlowerImgBox {
  height: 100%;
  margin: 0;
}

@media (max-width: 375px) {
  .Flower-img {
    width: 0;
  }
}

.me-img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  opacity: 0.5;
  margin: 0;
}

@media (max-width: 375px) {
  .me-img {
    width: 100px;
    object-fit: fill;
    height: 240px;
    border: solid white;
  }
}

.NameBox {
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  opacity: 0.8;
  border-radius: 8px;
  margin: 0;
}

@media (max-width: 375px) {
  .NameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 100px;
    margin-top: 35%;
    padding: 40px;
  }
}

.name {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  width: 400px;
  letter-spacing: 3px;
  margin-top: 19%;
  font-family: "Sofia", cursive;
}

@media (max-width: 900px) {
  .name {
    width: 340px;
    margin-top: 40%;
  }
}

.FrontPageTxt {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 29%;
  font-family: "Poiret One", cursive;
}

@media (max-width: 900px) {
  .FrontPageTxt {
    width: 340px;
    margin-top: 15%;
    font-size: 20px;
  }
}

h1 {
  color: #cfb2b2;
  font-size: 70px;
  cursor: pointer;
}
h1 span {
  transition: 0.5s linear;
}

h1:hover span {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(55, 55, 55), 0 0 20px rgb(55, 55, 55),
    0 0 40px rgb(55, 55, 55);
}

@media (max-width: 375px) {
  .FirstPageLogo,
  .GithubLogo {
    display: flex;
    width: 25px;
    margin-bottom: 40px;
    margin-left: 10px;
  }
}
