/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

/* Colors */

:root {
  --bg-grey: rgba(18, 18, 18, 1);
  --black-card-border: rgb(0, 0, 0) dotted;
  --nav-color: rgba(223, 224, 223, 1);
  --hover-color: rgb(254, 219, 219);
  --card-info-bg-color: rgba(102, 104, 103, 1);
}
